.center {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  background: #96A8C8;
  height: 100%;
}

body {
  min-height: 100%;
}

a {
  color: #00B7FF;
}

#next {
  margin: 0px 30px 0px 30px;
}

.title {
  font-family: 'Sofia';
}

.share {
  float: right;
  margin-right: 30px;
}

input {
  width: 100px;
}